# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
backend/logs/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.production

# Docker
pgdata/
redisdata/
uploads/
app_logs/

# Test
.pytest_cache/
